body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: rgba(122, 122, 122, 0.342);
    padding: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 30%;
    padding: 10px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #d10505;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    background: #d4edda;
}
body {
    background-image: url('bg.jpg');
    background-size: cover; /* Membuat gambar menutupi seluruh elemen */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;

}